@use '/src/shared/styles/typography' as typography;
@use '/src/shared/styles/colors' as colors;

.boxModel {
  border: 1px solid colors.color(dark, 300);
  background-color: colors.color(dark, 500);
  border-radius: 2px;
  padding: 24px;
  margin: 0 auto 36px;
  max-width: 972px;
  min-width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registeredUser{
  @include typography.h2;
}

.countWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  border: 1px solid  colors.color(dark, 300);
  background-color: colors.color(dark, 700);
  border-radius: 2px;
  width: 203px;
  height: 48px;
  padding: 10px;
}

.countText {
  @include typography.h2;
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
}
