@use '@/src/shared/styles/colors' as colors;
@use '@/src/shared/styles/typography' as typography;


.authWrapper {
  background-color: colors.color(dark, 500);
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: colors.color(light, 100);
  padding: 23px;
  min-width: 100%;

  &__title {
    @include typography.h1;
    text-align: center;
    margin-bottom: 13px;
    color: colors.color('light', 100);
  }

  &__subtitle {
    @include typography.regular-text-14;
    text-align: center;
    color: colors.color('light', 900);
    margin-bottom: 24px;
  }

  .signUpLink {
    @include typography.regular-text-16;
    font-weight: typography.$font-weight-semi-bold;
    margin-top: 13px;
    color: colors.color('accent', 500);
    text-decoration: none;

    &:hover {
      color: colors.color('accent', 300);
      text-decoration: underline;
    }
  }
}

.oAuth {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 24px;

  &__button {
    @include typography.regular-text-14;
    background: none;
    border: none;
    color: colors.color('light', 100);
    cursor: pointer;
    padding: 8px;

    &:hover {
      color: colors.color('accent', 500);
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  position: relative;

  &__label {
    @include typography.regular-text-14;
    color: colors.color('light', 100);
    margin-bottom: 4px;
  }

  &__input {
    @include typography.regular-text-16;
    padding: 12px 16px;
    background-color: colors.color('dark', 500);
    border: 1px solid colors.color('dark', 300);
    border-radius: 4px;
    color: colors.color('light', 100);

    &::placeholder {
      color: colors.color('light', 700);
    }

    &:focus {
      outline: none;
      border-color: colors.color('accent', 500);
    }
  }

  .forgotPassword {
    content: "Forgot Password";
    position: absolute;
    @include typography.regular-text-14;
    color: colors.color('light', 900);
    top: 200px;
    right: 0;
    cursor: pointer;
    z-index: 777;

    &:hover {
      color: colors.color('accent', 500);
    }
  }
}

.submitBtn {
  @include typography.h3;
  margin-top: 72px;
  margin-bottom: 18px;
  padding: 12px 24px;
  background-color: colors.color('accent', 500);
  color: colors.color('light', 100);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: colors.color('accent', 500);
  }

  &:disabled {
    background-color: colors.color('dark', 300);
    cursor: not-allowed;
  }
}

.errorMessage {
  @include typography.regular-text-14;
  color: colors.color('danger', 500);
  margin-top: 4px;
}

.successMessage {
  @include typography.regular-text-14;
  color: colors.color('success', 500);
  margin-top: 4px;
}
