@use '@/src/shared/styles/typography' as typography;
@use '@/src/shared/styles/colors' as colors;
@use '@/src/shared/styles/variables' as variables;

.formWrapper {
  @include variables.formWrapper;
}

.input {
  margin-bottom: 20px;
}

.infoMessage {
  @include typography.regular_text_14;
  color: colors.color(light, 900);
  margin-top: 7px;
  margin-bottom: 41px;
}

.pageTitle {
  @include typography.h1;
  text-align: center;
  color: colors.color(light, 100);
  margin-bottom: 32px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin-bottom: 12px;
  }
}
// ===
.pageWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 30px;
  max-width: 500px;
}

.input {
  margin-bottom: 20px;
}

.infoMessage2 {
  @include typography.regular_text_16;
  color: colors.color(light, 100);
  text-align: center;
  width: 295px;
}

.pageTitle2 {
  @include typography.h1;
  text-align: center;
  color: colors.color(light, 100);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin-bottom: 12px;
  }
}

.button {
  width: 295px;
}