@use '@/src/shared/styles/typography' as typography;
@use '@/src/shared/styles/colors' as colors;

.container {
  min-height: calc(100vh - 60px);
  min-width: 220px;
}

.sidebarWrapper {
  position: sticky;
  top: 0;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: colors.color(dark, 700);
  border-right: 1px solid colors.color(dark, 300);
  flex-shrink: 0;

}

.activeLink, .activeLink:visited {
  @include typography.bold_text_14;
  color: colors.color(accent, 500);
}

.link {
  @include typography.regular-text-14;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;

  &:hover {
    @include typography.medium_text_14;
    color: colors.color(accent, 500);
  }


  &:focus-visible {
    outline: none;
    border: 2px solid colors.color(accent, 700);
    border-radius: 2px;
  }

  &:disabled {
    color: colors.color(dark, 100);
  }

}

.icon {
  margin-right: 12px;
  display: inline-block;
  vertical-align: -5px;
}

.logoutBtn {
  @extend .link;
  border: none;
  background: transparent;
  text-align: left;
  width: 100%;
  padding-left: 60px;

  &:hover {
    color: colors.color(accent, 500);
  }
}
