@use '@/src/shared/styles/colors' as colors;

.general{
  display: flex;
  flex-direction: row;
}

.inputsContainer{
  width: 100%;
}

.selects{
  display: flex;
  gap:24px;
  padding-bottom: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: colors.color(light, 900);
  margin-top: 10px;
}
.btnSaved{
  display: flex;
  justify-content: flex-end;
  margin-top:  24px;
  margin-bottom:  24px;
}
