@use 'src/shared/styles/colors';
@use 'src/shared/styles/typography' as typography;

.header {
  padding: 12px 60px;
  height: 60px;
  border-bottom: 1px solid colors.color(dark, 300);

  //display: flex;
  //justify-content: space-between;
  //align-items: center;
}

.logotype {
 @include typography.large
}
