@use '@/src/shared/styles/colors' as colors;
@use '@/src/shared/styles/typography' as typography;

.modalAccessAutoRenewal {
  max-width: 378px;
}

.accessAutoRenevalInput {
  padding: 0;
}

.buttonModalOk {
  padding: 6px 24px;
}

.icon {
  width: 94px;
  height: 64px;
}

.paymentButton {
  border: 1px solid colors.color(dark, 300);
  width: 96px;
  height: 64px;
}
