@use '@/src/shared/styles/colors' as colors;

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.yesBtn {
  border: 1px solid colors.color(accent, 500);
  background: transparent;
  color: colors.color(accent, 500);
  padding: 0.5rem 2.5rem;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: rgba(59, 130, 246, 0.1);
  }
}

.noBtn {
  border: 1px solid colors.color(accent, 500);
  background: colors.color(accent, 500);
  color: colors.color(light, 100);
  padding: 0.5rem 2.5rem;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: colors.color(accent, 700);
  }
}