.publicationHeadLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
}

.publicationProfileImage {
  display: flex;
  align-items: center;
  gap: 10px;
}