@use '@/src/shared/styles/colors' as colors;

.audioMessage {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 16px;
  max-width: 400px;
  min-width: 250px;

  &.mine {
    background: colors.color('accent',900);
    align-self: flex-end;
    margin-left: auto;
  }

  &.friend {
    background: colors.color('dark',300);
    align-self: flex-start;
    margin-right: auto;
  }
}

.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: colors.color('light',500);
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.3s ease;

  &:hover {
    background: colors.color('light',700);
  }

  svg {
    color: colors.color('accent',900);

  }
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.waveform {
  width: 100%;
  //height: 32px;
  cursor: pointer;
  overflow: hidden;

  &:focus-visible {
    outline: 2px solid colors.color('accent',300);;
    outline-offset: 2px;
    border-radius: 4px;
  }
}

.progressBarContainer {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    .progressBarThumb {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &:focus-visible {
    outline: 2px solid colors.color('accent',500);;
    outline-offset: 2px;
    border-radius: 4px;
  }
}

.progressBarBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.progressBarFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
  transition: width 0.1s ease;
}

.progressBarThumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 2;

  .progressBarContainer:hover & {
    opacity: 1;
  }

  .progressBarContainer:active & {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.timeInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  user-select: none;
}

.currentTime {
  font-weight: 600;
  color: colors.color('light',700);;
}

.duration {
  color: colors.color('light',700);
}

.audioMessage {
  position: relative;
}

.audioDate {
  position: absolute;
  right: 12px;
  bottom: 6px;
  color: colors.color('accent',100);
  font-size: 12px;
}

