@use '@/src/shared/styles/colors' as colors;

.avatarUploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 20px;

  .previewContainer {
    position: relative;
    margin-bottom: 12px;
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
  }

  .placeholder {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
  }

  .deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .photoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #2b2b2b;
    border-radius: 12px;
    padding: 32px;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .imageWrapper {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
  }

  .roundImage {
    object-fit: cover;
  }

  .modalActions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 16px;
  }

  .buttons {
    display: flex;
    gap: 8px;
  }

  .selectButton {
    background-color: transparent;
    border: 1px solid #3b82f6; /* ярко-синий */
    color: #3b82f6;
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.2s ease;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      background-color: rgba(59, 130, 246, 0.1);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.yesBtn {
  border: 1px solid colors.color(accent, 500);
  background: transparent;
  color: colors.color(accent, 500);
  padding: 0.5rem 2.5rem;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: rgba(59, 130, 246, 0.1);
  }
}

.noBtn {
  border: 1px solid colors.color(accent, 500);
  background: colors.color(accent, 500);
  color: colors.color(light, 100);
  padding: 0.5rem 2.5rem;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: colors.color(accent, 700);
  }
}