@import '../common/styles/colors';
@import '../common/styles/typography';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}
a,button{
  cursor: pointer;
}
a:visited {
  color: inherit;
}

body {
  font-family: $font-family, sans-serif;
  font-weight: $font-weight-regular;
  background-color: color(dark,700);
  color: color(light, 100);
  padding: 12px 60px;
  height: 100%;
}