@use 'src/shared/styles/colors' as colors;

.avatarImage {
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarText {
  border-radius: 50%;
  object-fit: cover;
  background-color: colors.color(light, 900);
  display: flex;
  align-items: center;
  justify-content: center;
}