@use '../../styles/colors';
@use '../../styles/typography' as typography;

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.linksWrap {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  text-transform: capitalize;
}
