@use '@/src/shared/styles/typography' as typography;
@use '@/src/shared/styles/colors' as colors;

$primary-color: colors.color(accent, 500) !default;
$border-color: colors.color(accent, 100) !default;
$secondary-color: colors.color(dark, 500) !default;

.general{
  display: flex;
  flex-direction: row;
}
.addPhotoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:24px;
  margin: 24px;
}
.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 192px;
  width: 192px;
  border-radius: 50%;
  background-color: $secondary-color;
}
.btn{
  color: $primary-color;
  border:1px solid  $border-color ;
  background-color: inherit;
  height: 35px;
  width: 200px;
}
.inputsContainer{
  width: 100%;
}

.selects{
  display: flex;
  flex-direction: row;
  gap:24px;
  padding-bottom: 24px;
}
