@use '@/src/shared/styles/typography' as typography;
@use '@/src/shared/styles/colors' as colors;

.sidebarWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 220px;
  padding: 70px 0 35px 60px;
  border-right: 1px solid colors.color(dark, 300);
  flex-shrink: 0;

  .linkWrapper:nth-child(5) {
    margin-bottom: 60px;
  }

  .linkWrapper:nth-child(7) {
    margin-bottom: 180px;
  }
}

.activeLink, .activeLink:visited {
  @include typography.bold_text_14;
  color: colors.color(accent, 500);
}

.link {
  @include typography.regular-text-14;
  text-decoration: none;
  margin-bottom: 10px;

  &:hover {
    @include typography.medium_text_14;
    color: colors.color(accent, 500);
  }


  &:focus-visible{
    outline: none;
    border: 2px solid colors.color(accent, 700);
    border-radius: 2px;
  }

  &:disabled {
    color: colors.color(dark, 100);
  }

}

.icon {
  margin-right: 12px;
  display: inline-block;
  vertical-align: -5px;

}
