@use '@/src/shared/styles/typography' as typography;
@use '@/src/shared/styles/colors' as colors;

.section {
  padding: 35px 0;
}

.title {
  @include typography.h1;
  margin-bottom: 19px;
}

.text {
  @include typography.regular_text_16;
  margin-bottom: 54px;
}

.image {
  width: 432px;
  height: 300px;
}

.button {
  margin-bottom: 72px;
}
