.form {
  width: 100%;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  & .buttonSubmit {
    padding: 3px;
  }
}

.inputAddComment {
  flex-grow: 1;

  & input {
    padding: 3px;
    border: none;

    &:hover {
      border: none;
    }

    &:focus {
      background: none;
      outline: none;
      border: none;
    }
  }
}


