@use '@/src/shared/styles/colors' as colors;

.container {
  padding: 20px;
  width: 450px;
  max-height: 80vh;
  overflow-y: auto;
}

.search {
  width: 100%;
  padding: 10px;
  background: colors.color(dark, 100);
  border: 1px solid colors.color(dark, 300);
  border-radius: 6px;
  color: colors.color(light, 100);
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.info {
  display: flex;
  flex-direction: column;
}

.userName {
  color: colors.color(light, 100);
  font-weight: 500;
}

.fullName {
  color: colors.color(light, 900);
  font-size: 14px;
}

.follow,
.unfollow {
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.follow {
  background: colors.color(accent, 500);
  color: colors.color(light, 100);
}

.unfollow {
  background: transparent;
  border: 1px solid colors.color(light, 900);
  color: colors.color(light, 700);
}