@use "src/shared/styles/colors" as colors;
@use "src/shared/styles/typography" as typography;

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sectionTitle {
  @include typography.h3
}

