@use 'src/common/styles/colors';
@use 'src/common/styles/typography' as typography;

.navWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.logotype{
  font-size: 26px;
}

.linksWrap{
  display: flex;
  gap: 10px ;
  text-transform: capitalize;
}